# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Backpack build
build

# IDE
.idea

# Service worker
sw.*

# Local process.env config
.env

# Test coverage data
coverage
.nyc_output
