# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Backpack build
build

# IDE
.idea

# Service worker
sw.*

# Local postgres config
local_postgres_config.js
